*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
}

#left{
    height: 100vh;
    width: 40%;
    background: #FFBB5C;
}
#right{
    height: 100vh;
    width: 60%;
    background: #45FFCA;
}